@page
@model Webshop.Pages.checkoutModel
@{
}

<h4>Checkout</h4>

<p>
    <a asp-page="shoppingcart">Back to shopping cart</a>
</p>

<table>
    <tr>
        <th>Total: </th>
        <td>@Model.totalPrice</td>
    </tr>
</table>

<br />
<form method="post">
    <label asp-for="customerId">Select customer: </label>
    <select asp-for="customerId">
        @foreach (Models.Customer c in Model.customerList)
        {
            <option value="@c.CustomerId">@c.Firstname @c.Lastname</option>
        }
    </select>

    <input type="hidden" asp-for="totalPrice" />

    <br />
    <input type="submit" value="CHECK OUT" />
</form>