@page
@model Webshop.Pages.customerAccountModel
@{
    string pageHeading = "";

    if (Model.mode == "create")
    {
        pageHeading = "Create new customer account";
    }
    else if (Model.mode == "edit")
    {
        pageHeading = "Edit your account";
    }
}

<h4>@pageHeading</h4>

<p>
    <a href="Index">Back to home</a>
</p>

@if (Model.message != null)
{
    <p>@Model.message</p>
}

<form method="post">
    <table>
        <tr>
            <td width="150">
                <label asp-for="firstName">First name: </label>
            </td>
            <td>
                <input asp-for="firstName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="lastName">Last name: </label>
            </td>
            <td>
                <input asp-for="lastName" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="address" width="40">Address: </label>
            </td>
            <td>
                <input asp-for="address" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="state">State: </label>
            </td>
            <td>
                <input asp-for="state" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="postcode">Postcode: </label>
            </td>
            <td>
                <input asp-for="postcode" type="number" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="phone">Phone: </label>
            </td>
            <td>
                <input asp-for="phone" type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="email">Email: </label>
            </td>
            <td>
                <input asp-for="email" type="email" />
            </td>
        </tr>
    </table>

    @if (Model.mode == "create")
    {
        <br />        
        <table>
            <tr>
                <td width="150">
                    <label asp-for="password">Password: </label>
                </td>
                <td>
                    <input asp-for="password" type="password" />
                </td>
            </tr>
        </table>
    }
    
    <br />
    <input type="submit" value="Done" />

    <input type="hidden" asp-for="customerId" />
    <input type="hidden" asp-for="mode" />
    <input type="hidden" asp-for="message" />
</form>
